.sidebar {
    background-color: #444444;
    height: 85vh;
    margin-top: 2.5vh;
    overflow-y: scroll;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:0 !important; padding-bottom:0 !important;
    height: 4vh;
}
.navbar {
    min-height:4vh !important;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 90vh;
}

.statistics, .run-list{
    background-color: #4e555b;
    height: 40vh;
    margin: 2.5vh;
    overflow-y: scroll;
}

.statistics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    width: 15em;
}

.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}

.search-program {
    width: 70%;
    display: inline;
}

.add-program-button {
    /*margin-top: 1em;*/
    width: 100%;
    margin-bottom: 28px;
}

.edit-program-button {
    width: 100%;
    margin-bottom: 18px;
}

.add-runlist-button {
    width: 100%;
    margin-bottom: 28px;
}

.edit-runlist-button {
    width: 100%;
    margin-bottom: 18px;
}

.individual-program h4{
    text-align: center;
}

.placeholder-stats {
    width: 20%;
    height: 6em;
    margin: 1em;
    background-color: #0c5460;
}